.botonera {
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        background-color: green;
        color: orange;
        border: 1px solid black;
    }
    button:hover{
        background-color: orange;
        color: green;
        border: 2px solid black;
    }

}